.Approve {
  background-image: var(--gradient-2);
  /*background-color: var(--gradient-color2-end);*/
  border-radius: 5px;
  padding: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.input-container label {
}

.input-container select,
.input-container input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
}

.link-container {
  margin-top: 10px;   /* Space between the button and the link */
  width: auto;
}

#ApproveLink {
  text-decoration: underline;   /* Underline for clarity that it's a link */
  color: var(--primary-navy); /* Assuming you want the primary color from your palette; adjust as needed */
  font-size: 15px;              /* Smaller font size than the button for hierarchy */
  display: block;               /* To make sure it takes the full width and is centered below */
  text-align: center;           /* Center the text */
  padding-bottom: 10px;
}

#ApproveLink.hidden {
  display: none;  /* Hide the link when the class 'hidden' is applied */
}

#ApproveLink:hover {
  color: var(--gradient-color3-end); /* Darker shade on hover for interactivity; adjust to your preference */
}
