.Approve {
  background-image: var(--gradient-2);
  /*background-color: var(--gradient-color2-end);*/
  border-radius: 5px;
  padding: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.input-container label {
}

.input-container select,
.input-container input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
}
