.Upload {
  background-color: #f5f5f5;  /* Light gray background color */
  border-radius: 5px;
  padding: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.upload-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.upload-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: rgba(76, 81, 191, 0.7);*/
  background-color: var(--gradient-color1-end);
  /*background-image: var(--gradient-1);*/
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  padding: 12px 24px;
  width: 50%;
  box-sizing: border-box;
  outline: none;
  border-radius: 50px;
  border: 1px solid var(--gradient-color1-end);
  margin-bottom:15px;
}

.button:hover {
  /*background: var(--gradient-color3-start);
  border-color: var(--gradient-color3-end);*/
  background-color: var(--gradient-color1-start);
    border: 1px solid var(--gradient-color1-end);
  cursor: pointer;;
}

.upload-status {
  text-align: center; /* Center the text */
  width: 100%; /* Match the width of the parent container */
  margin-bottom: 10px; /* Spacing from the button */
  display: block; /* Display as a block element */
}
