body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to the top */
  /*background-color: #f0e4dc;*/
  /* This sets the background color for the entire screen */
}

.app-container {
  background: var(--primary-navy);
  /* Light neon blue gradient to white */
  border-radius: 10px;
  /* by default, it will take up 80% of the screen width */
  min-width: 570px;
  max-width: 570px;
  min-height: 300px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #5A5A5A;
  /* Tech minimalist blue border */
  margin: 50px auto 0 auto; /* 200px margin at the top */
  position: relative; /* Add this line */

}


/* For screens smaller than 600px */
@media (max-width: 600px) {
  .app-container {
    width: 90%;
    /* On smaller screens, the container will take up 90% of the width */
  }
}

/* For screens smaller than 400px */
@media (max-width: 400px) {
  .app-container {
    width: 100%;
    /* On very small screens, the container will take up the full width */
    border-radius: 0;
    /* Optional: remove rounded corners for very small screens */
  }
}


.menu {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
  background: var(--primary-navy);
}

/*
.menu {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
  background: var(--primary-navy);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
}
*/

button {
  cursor: pointer;
  background-color: var(--gradient-color3-end);
  /* Adjust this as desired */
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
  width: 80px;
}

button:hover {
  background-color: var(--gradient-color3-start);
  /* Adjust this as desired */
}

button.selected {
  background-color: var(--primary-color1);
  color: black;
  /* Neon pink for the selected/active view */
  cursor: default;
  /* No need to show the pointer cursor for the active view button */
}

.app-footer {
  padding: 10px;
  background-color: #000000;
  /* light gray background */
  overflow: auto;
  /* to clear the float */
  border-radius: 5px;
  margin-top: 1px;
  height: auto;
}

.footer-logo {
  margin: 5px;
  padding-right: 5px;
  max-width: 350px;
  /* adjust based on your logo's dimensions and the available width of the plugin */
  height: auto;
  float: right;
  /* position the logo on the right side of the footer */
}

.dev-logs-button {
  background: none;
  border: none;
  color: rgb(168, 167, 167); /* Light text color */
  cursor: pointer;
  text-decoration: underline; /* Make it look clickable */
  margin-top: 10px; /* Some spacing above the footer */
}
.dev-logs-button:hover {
  color: darkgray; /* Slightly darker on hover */
}

.blockchainName-container {
  text-align: right;
  margin-left: auto;  /* Add this line */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}